<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Exam Performance Indicator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
         <a href="/">🏠 Home</a>
        <a href="/predictdata">📊 Predict</a>
    </nav>

    <div class="container">
        <h1>🎓 Student Exam Performance Indicator</h1>
        <p>Use this AI-powered tool to predict student performance based on key attributes.</p>
        <a href="/predictdata" class="btn">Start Prediction</a>
    </div>
</body>
</html>
